<div class="container-fluid" id="home-page">
  <div class="row">
    <div id="pictures" class="container-fluid owl-carousel owl-theme">
      <div class="item" id="slide-1"><%= image_tag 'fullimage1.jpg', alt:'Slide1' %></div>
      <div class="item" id="slide-2"><%= image_tag 'fullimage2.jpg', alt:'Slide2' %></div>
      <div class="item" id="slide-3"><%= image_tag 'fullimage3.jpg', alt:'Slide3' %></div>
      <div class="item" id="slide-4"><%= image_tag 'fullimage4.jpg', alt:'Slide4' %></div>
      <div class="item" id="slide-5"><%= image_tag 'fullimage5.jpg', alt:'Slide5' %></div>
      <div class="item" id="slide-6"><%= image_tag 'fullimage6.jpg', alt:'Slide6' %></div>
    </div>
  </div>

  <div class="container-fluid" id="intro">
    <div class="container">
      <div class="row">
        <div class="col-sm-7">
          <%= image_tag 'pastor.jpg', id:'pastor-image', class:'img img-responsive img-thumbnail', align:'left', alt:'Pastor' %>
          <p class="lead">Dearly Beloved,</p>
          <p class="text-justify">
            Nulla consequat massa quis enim. Phasellus blandit leo ut odio. Integer ante arcu, accumsan a, consectetuer eget, posuere ut, mauris. Nunc nonummy metus. Curabitur vestibulum aliquam leo. Vestibulum fringilla pede sit amet augue. Etiam ultricies nisi vel augue. Etiam iaculis nunc ac metus. Praesent ut ligula non mi varius sagittis. Fusce a quam. Aliquam erat volutpat. In hac habitasse platea dictumst. Fusce risus nisl, viverra et, tempor et, pretium in, sapien. Aenean viverra rhoncus pede. Integer ante arcu, accumsan a, consectetuer eget, posuere ut, mauris. Suspendisse nisl elit, rhoncus eget, elementum ac, condimentum eget, diam.
          </p>
          <div class="row text-center">
            <h4 class="text-left">Recent Videos</h4>
            <div class="col-sm-8" style="padding: 0;">
              <%= render 'videos/home_index' %>
            </div>
            <div class="col-sm-4">
              <ul class="video_thumbs">
                <%= render 'videos/video_thumbnails' %>
              </ul>
              <%= link_to 'See more...', resources_path %>
            </div>
          </div>
        </div>
        <div class="col-sm-5">
          <div class="row text-justify service-details">
            <div class="col-xs-6">
              <%= image_tag 'sunday-worship.jpg', class:'img img-responsive img-thumbnail', alt:'Sunday Worship Service' %>
            </div>
            <div class="col-xs-6 service-time">
              <p class="lead">Sunday Worship</p>
              <p>
                <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Sundays<br>
                <span class="glyphicon glyphicon-time" aria-hidden="true"></span> 8am - 12noon<br>
                <em>You'll be blessed.</em>
              </p>
            </div>
          </div>

          <div class="row text-justify service-details">
            <div class="col-xs-6">
              <%= image_tag 'prayer-meeting.gif', class:'img img-responsive img-thumbnail', alt:'Prayer Meeting' %>
            </div>
            <div class="col-xs-6 service-time">
              <p class="lead">Prayer Meeting</p>
              <p>
                <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Tuesdays<br>
                <span class="glyphicon glyphicon-time" aria-hidden="true"></span> 5pm - 7pm<br>
                <em>Prayers, and answers!</em>
              </p>
            </div>
          </div>

          <div class="row text-justify service-details">
            <div class="col-xs-6">
              <%= image_tag 'bible-study-clipart.jpg', class:'img img-responsive img-thumbnail', alt:'Bible Study' %>
            </div>
            <div class="col-xs-6 service-time">
              <p class="lead">Bible Study</p>
              <p>
                <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Thursdays<br>
                <span class="glyphicon glyphicon-time" aria-hidden="true"></span> 5pm - 7pm<br>
                <em>Insight and revelations!</em>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="who-we-are" class="container-fluid">
    <div class="container">
      <div class="row">
        <h3 class="text-center">WHO WE ARE</h3>
        <p class="text-center"><em>We are a chosen generation, a royal priesthood, an holy nation, a peculiar people;
          that we should shew forth the praises of him who hath called you out of darkness into his marvellous light.</em><br>
          (1 Peter 2:9)</p>
        <div class="col-sm-6">
          <p class="lead text-center">
            ABOUT US
          </p>
          <p class="text-justify">
            We are Christ Praise Chapel, called to show forth His praise!
          </p>
          <p class="text-justify">
            Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Suspendisse non nisl sit amet velit hendrerit
            rutrum. Aenean commodo ligula eget dolor. Morbi mattis ullamcorper velit. Vivamus elementum semper nisi.
          </p>
        </div>
        <div class="col-sm-6">
          <p class="lead text-center">OUR VISION</p>
          <p class="text-justify">
            <em>Curabitur at lacus ac velit ornare lobortis. Pellentesque commodo eros a enim. Praesent metus tellus,
              elementum eu, semper a, adipiscing nec, purus. Maecenas egestas arcu quis ligula mattis placerat. Fusce fermentum.</em>
          </p>
          <p class="lead text-center">OUR MISSION</p>
          <p class="text-justify">
            <em>Nunc sed turpis. Phasellus a est. Pellentesque egestas, neque sit amet convallis pulvinar, justo nulla
              eleifend augue, ac auctor orci leo non est. Aenean viverra rhoncus pede. Praesent turpis. Etiam feugiat
              lorem non metus. Pellentesque dapibus hendrerit tortor. Aenean commodo ligula eget dolor. Pellentesque
              commodo eros a enim. Nullam dictum felis eu pede mollis pretium.</em>
          </p>
        </div>
        <div class="text-center">
          <%= link_to 'Read More', about_path, class:'btn btn-default btn-primary', role:'button' %>
        </div>
      </div>
    </div>
  </div>

  <div class="container text-center">
    <div class="row">
      <h3 class="text-center">GALLERY</h3>
      <div id="gallery-slides" class="owl-carousel">
        <div class="item"><img class="lazyOwl" data-src="assets/bible.jpg" alt="Slide 1"></div>
        <div class="item"><img class="lazyOwl" data-src="assets/bible.jpg" alt="Slide 1"></div>
        <div class="item"><img class="lazyOwl" data-src="assets/bible.jpg" alt="Slide 1"></div>
        <div class="item"><img class="lazyOwl" data-src="assets/bible.jpg" alt="Slide 1"></div>
        <div class="item"><img class="lazyOwl" data-src="assets/bible.jpg" alt="Slide 1"></div>
        <div class="item"><img class="lazyOwl" data-src="assets/bible.jpg" alt="Slide 1"></div>
        <div class="item"><img class="lazyOwl" data-src="assets/bible.jpg" alt="Slide 1"></div>
        <div class="item"><img class="lazyOwl" data-src="assets/bible.jpg" alt="Slide 1"></div>
      </div>
    </div>
  </div>
</div>