<%= form_for(@message) do |f| %>
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@message.errors.count, 'error') %> prohibited this message from being saved:</h2>

      <ul>
      <% @message.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br> <%# label for = "post_title" according to convention %>
    <%= f.text_field :title %> <%# id="post_title"%>
  </div>
  <div class="field">
    <%= f.label :bible_passage %><br> <%# label for = "post_title" according to convention %>
    <%= f.text_field :bible_passage %> <%# id="post_title"%>
  </div>
  <div class='field'>
    <%= f.label :preacher %><br>
    <%= f.text_field :preacher %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.cktext_area :content, :ckeditor => {:language => 'en'} %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
