<%= form_for(@message) do |f| %>
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@message.errors.count, 'error') %> prohibited this message from being saved:</h2>

      <ul>
      <% @message.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-sm-4">
      <div class="form-group">
        <%= f.label :title %><br>
        <%= f.text_field :title, class:'form-control', placeholder:'Message title', required: true %>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <%= f.label :bible_passage %><br>
        <%= f.text_field :bible_passage, class:'form-control', placeholder:'Gen 1:1; Prov 4:8; 9:5', required: true %>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <%= f.label :preacher %><br>
        <%= f.text_field :preacher, class:'form-control', placeholder:'Preacher', required: true %>
      </div>
    </div>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.cktext_area :content, :ckeditor => {:language => 'en'}, required: true %>
  </div>
  <div class="actions">
    <%= f.submit class:'btn btn-primary' %>
  </div>
<% end %>
