<% provide(:title, "Messages") %>

<div id="messages-index" class="container">
  <% if logged_in? %>
      <p class="pull-right btn btn-primary"><%= link_to content_tag(:span, '', class:'glyphicon glyphicon-pencil', title: 'New Message'), new_message_path %>
        <%= link_to 'New Message', new_message_path %>
      </p>
  <% end %>
  <br><br>

  <% @messages.each do |message| %>
      <div class="col-lg-3 col-md-4 col-xs-6 thumb message-thumb text-center">
        <h4><%= link_to message.title, message %></h4><br>
        <p><em><%= message.preacher %></em></p><br>
        <i class="pull-right"><%= friendly_date message.created_at %></i><br>
        <% if logged_in? %>
            <p class="text-left">
              <%= link_to content_tag(:span, '', class:'glyphicon glyphicon-edit', title: 'Edit'), edit_message_path(message) %>
               <%= link_to content_tag(:span, '', class:'glyphicon glyphicon-trash', title: 'Delete'), message, method: :delete,
                          data: { confirm: 'Are you sure?' } %>
            </p>
        <% end %>
      </div>
  <% end %>

</div>

