<% provide(:title, "Sign in") %>

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-4 col-md-offset-4">
      <h2>Admin Login</h2>
      <div class="account-wall">
        <%= image_tag "evg_logo.png", alt: "Bible", class: "img img-thumbnail img-circle" %>
        <div class="form-signin">
          <%= form_for(:session, url: sessions_path) do |f| %>
              <%= f.text_field :username, class: "form-control", placeholder: "Username", required: 'required', autofocus: 'autofocus' %>
              <%= f.password_field :password, class: "form-control", placeholder: "Password (6 characters minimum)", required: 'required', minlength: "6", maxlength: "20" %>
              <%= f.submit 'Login', class: 'btn btn-lg btn-primary btn-block' %>
          <% end %>
          <script>
              $("form").validate();
          </script>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>