<div class="footer container-fluid">
  <div class="container">
    <div id="footer-row-1" data-role="footer" class="row">
      <div class="col-sm-4">
        <h4>QUICK LINKS</h4>
        <div class="well"></div>
        <ul id="quick-links">
          <li><%= link_to 'Home', root_path, class: 'selected' %></li>
          <li><%= link_to 'About Us', about_path %></li>
          <% @message = Message.last %>
          <% if @message %>
              <li>
                <%= link_to @message.title, @message %>
              </li>
          <% end %>
          <li><%= link_to 'Videos', videos_path %></li>
          <li><%= link_to 'Gallery', gallery_path %></li>
          <li><%= link_to 'Contact Form', new_contact_path %></li>
        </ul>
      </div>
      <div class="col-sm-4">
        <h4>WORSHIP WITH US</h4>
        <div class="well"></div>
        <address>
          <strong><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Christ Praise Chapel</strong><br>
          Lorem ipsum<br>
          Dolor amiet Laroebo<br>
          Off FUTA South Gate<br>
          Akure, Nigeria.
        </address>
      </div>
      <div class="col-sm-4">
        <h4>CONTACT</h4>
        <div class="well"></div>
        <address>
          <strong><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Christ Praise Chapel</strong><br>
          P.O. Box, XYZ<br>
          Line 3<br>
          Akure, Ondo State<br>
          Nigeria.<br>
          <a href="mailto:info@christpraisechapel.org">info@christpraisechapel.org</a><br>
          <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
          <a href="tel:080XABCXYZ">080XABCXYZ</a>
        </address>
      </div>
    </div>
    <div id="footer-row-2" class="row">
      Copyright &copy 2016 <a href="">Christ Praise Chapel</a><br>
      All rights reserved.
    </div>
  </div>
</div>