<header >
  <nav id="navbar" class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid" id="upper_bar">
      <ul id="social-links">
        <li><a href="#"><%= image_tag 'fb-icon.png', alt: 'Facebook' %></a></li>
        <li><a href="#"><%= image_tag 'twitter-icon.png', alt: 'Twitter' %></a></li>
        <li><a href="#"><%= image_tag 'youtube-icon.png', alt: 'Youtube' %></a></li>
        <li><a href="#"><%= image_tag 'google-plus-icon.png', alt: 'Google+' %></a></li>
        <% if logged_in? %>
            <li id="fat-menu" class="pull-right dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <span class="glyphicon glyphicon-user"></span> Admin <b class="caret"></b>
              </a>
              <ul id="dropdown" class="dropdown-menu">
                <li><a href="#">Manage Posts</a></li>
                <li><a href="#">Manage Resources</a></li>
                <li id="divider" class="divider"></li>
                <li>
                  <%= link_to 'Log out', logout_path, method: 'delete' %>
                </li>
              </ul>
            </li>
        <% else %>
            <li class="pull-right" style="color: #fff;"><%= link_to content_tag(:span, '', class: 'glyphicon glyphicon-user'), login_path %></li>
        <% end %>
      </ul>
    </div>
    <div  id="second_bar" class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div id="menu" class="navbar-header">
        <%= link_to image_tag('evg_logo.png', class: 'navbar-brand', alt:'Logo'), root_path %>
        <button type="button" class="navbar-toggle collapsed dropdown-toggle" data-toggle="collapse" data-target="#navbar-collapse">
          <span id="menu-button">MENU <span class="caret"></span></span>
        </button>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul id="nav-links" class="nav container">
          <li><%= link_to 'HOME', root_path, class: 'selected' %></li>
          <li><%= link_to 'WHO WE ARE', about_path %></li>
          <li><%= link_to 'EVENTS', events_path %></li>
          <li id="logo">
            <%= link_to image_tag('evg_logo.png', alt: 'Logo'), root_path %>
          </li>
          <li><%= link_to 'RESOURCES', resources_path %></li>
          <li><%= link_to 'GALLERY', gallery_path %></li>
          <li><%= link_to 'CONTACT', new_contact_path %></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</header>